{% load form_tags %}
{% load custom_filters %}
<div class="grid grid-cols-1 gap-4 md:grid-cols-2" x-data="{ otherSelected:
    {% if 'OTHER' in selected_categories %}
        true
    {% else %}
        false
    {% endif %}
    }">
    {% for val, label in food_categories %}
            <div class="{% if val == 'OTHER' %}md:col-span-2 space-y-3{% endif %}">
                {% if val == 'OTHER' %}
                    {% form_field type="checkbox" name=prefix|add:"dietary_categories" value=val label=label x_model="otherSelected" checked=val|in_list:selected_categories %}
                    <div x-show="otherSelected"
                         x-transition:enter="transition ease-out duration-200"
                         x-transition:enter-start="opacity-0 transform -translate-y-2"
                         x-transition:enter-end="opacity-100 transform translate-y-0">
                        {% form_field type="textarea" name=prefix|add:"dietary_other_detail" value=selected_other_detail placeholder="Please provide details..." rows=2 x_required="otherSelected" %}
                    </div>
                {% else %}
                    {% form_field type="checkbox" name=prefix|add:"dietary_categories" value=val label=label checked=val|in_list:selected_categories %}
                {% endif %}
            </div>
    {% endfor %}
</div>
