{% if plus_one %}
  <div id="plus-one-name-container" hx-swap-oob="innerHTML">
    {% include "components/common/form_input.html" with name="plus_one_name" label="Plus one name" %}
    {% include "components/common/form_input.html" with name="plus_one_email" label="Plus one email" %}
    {% include "components/common/form_input.html" with name="plus_one_phone" label="Plus one phone" %}
  </div>

  <div id="plus-one-dietary-container" hx-swap-oob="innerHTML">
    {% include "components/common/form_input.html" with name="plus_one_diet" label="Dietary requirements" %}
  </div>
{% else %}
  <div id="plus-one-name-container" hx-swap-oob="innerHTML" class="hidden"></div>
  <div id="plus-one-dietary-container" hx-swap-oob="innerHTML" class="hidden"></div>
{% endif %}