{% load form_tags %}
{% load custom_filters %}
{% if plus_one %}
    <div id="plus-one-container" hx-swap-oob="outerHTML">
        {% form_field name="plus_one_firstname" label="Plus one first name" value=plus_one_firstname errors=form_errors.plus_one_firstname %}
        {% form_field name="plus_one_lastname" label="Plus one last name" value=plus_one_lastname errors=form_errors.plus_one_lastname %}
        {% form_field name="plus_one_email" label="Plus one email" type="email" value=plus_one_email errors=form_errors.plus_one_email %}
        {% form_field name="plus_one_phone" label="Plus one phone" type="tel" value=plus_one_phone errors=form_errors.plus_one_phone %}
    </div>
    <div id="plus-one-dietary-container" hx-swap-oob="outerHTML">
        {% include "components/rsvp/form/partials/dietary_form.html" with prefix="plus_one_" food_categories=food_categories selected_categories=plus_one_selected_categories selected_other_detail=plus_one_selected_other_detail %}
    </div>
{% else %}
    <div id="plus-one-container" hx-swap-oob="outerHTML" class="hidden"></div>
    <div id="plus-one-dietary-container" hx-swap-oob="outerHTML" class="hidden"></div>
{% endif %}
