{% url 'web:home' as home_url %}
{% url 'web:rsvp' as rsvp_url %}
{% url 'web:schedule' as schedule_url %}
<header class="bg-neutral-100 backdrop-blur-sm shadow-md text-black/80 text-xl font-semibold p-4 flex">
  <nav class="md:ml-auto my-0 mx-auto md:mx-0 space-x-4"
       x-data="{ path: window.location.pathname }">
    <a href="{{ home_url }}"
       :class="path === '/' ? 'font-bold underline underline-offset-4 decoration-wavy' : 'hover:text-blue-400'">Home</a>
    <a href="{{ rsvp_url }}"
       :class="path === '/rsvp' ? 'font-bold underline underline-offset-4 decoration-wavy' : 'hover:text-blue-400'">RSVP</a>
    <a href="{{ schedule_url }}"
       :class="path === '/schedule' ? 'font-bold underline underline-offset-4 decoration-wavy' : 'hover:text-blue-400'">Schedule</a>
  </nav>
</header>
