<script>
  function countdown(targetDateStr) {
    return {
      target: new Date(targetDateStr),
      time: {
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      },
      start() {
        this.update();
        setInterval(() => this.update(), 1000);
      },
      update() {
        const now = new Date();
        const diff = this.target - now;

        if (diff <= 0) {
          this.time = { days: 00, hours: 00, minutes: 00, seconds: 00 };
          return;
        }

        const seconds = Math.floor(diff / 1000) % 60;
        const minutes = Math.floor(diff / (1000 * 60)) % 60;
        const hours = Math.floor(diff / (1000 * 60 * 60)) % 24;
        const days = Math.floor(diff / (1000 * 60 * 60 * 24));

         this.time = {
    days: this.pad(days),
    hours: this.pad(hours),
    minutes: this.pad(minutes),
    seconds: this.pad(seconds)
  };
},
pad(num) {
  return num.toString().padStart(2, "0");
}

    }
  }
</script>


<div         x-data="countdown('{{date}}')"
        x-init="start()"
        class="p-6 rounded-lg text-black/80 bg-white/80 backdrop-blur-sm shadow-md text-center text-2xl font-semibold p-4 flex flex-col justify-center gap-4">
    {% comment %} <div
        x-data="countdown('{{date}}')"
        x-init="start()"
        class="text-center text-2xl font-semibold p-4 text-white"
    > {% endcomment %}
<p class="font-light">
    Countdown to Our Big Day
</p>
<div class="grid grid-cols-4 gap-4 w-1/2 mx-auto">
    <div class="flex flex-col">
        <span class="text-amber-600 font-sans" x-text="time.days"></span>
        <p class="text-sm font-extralight ">days</p>
    </div>
    <div class="flex flex-col">
        <span class="text-amber-600 font-sans" x-text="time.hours"></span>
        <p class="text-sm font-extralight">hours</p>
    </div>
    <div class="flex flex-col">
        <span class="text-amber-600 font-sans" x-text="time.minutes"></span>
        <p class="text-sm font-extralight">minutes</p>
    </div>
    <div class="flex flex-col">
        <span class="text-amber-600 font-sans" x-text="time.seconds"></span>
        <p class="text-sm font-extralight">seconds</p>
    </div>
        {% comment %} <p>
            Time until event:
            <span x-text="time.days"></span>d :
            <span x-text="time.hours"></span>h :
            <span x-text="time.minutes"></span>m :
            <span x-text="time.seconds"></span>s
        </p> {% endcomment %}
    {% comment %} </div> {% endcomment %}
</div>