
  <div class="text-center mb-8">
    <h2 class="text-5xl font-semibold mb-4">Contact Details</h2>
    <p>You don't need to, but if you want enter your phone or email so we can contact you if we need to</p>
  </div>
  {% comment %} <form method="post"
        class="flex flex-col items-center font-serif space-y-6 text-black/80 bg-white/80 md:mx-4">
    {% csrf_token %} {% endcomment %}
    <div class="flex flex-col font-semibold w-full">
      <label for="firstname" class="font-sans">Email Address</label>
      <input id="firstname" name="firstname" class="border" />
    </div>
    <div class="flex flex-col font-semibold w-full">
      <label for="firstname" class="font-sans">Phone Number</label>
      <input id="firstname" name="firstname" class="border" />
    </div>
   

