<script>
      document.addEventListener("DOMContentLoaded", function () {
          const urlParams = new URLSearchParams(window.location.search);
          const code = urlParams.get('code');
          if (code) {
              document.getElementById("code").value = code;
            }
  });
</script>
<form method="post"
      class="flex flex-col items-center font-serif space-y-6 p-6 md:rounded-lg text-black/80 bg-white/80 backdrop-blur-sm shadow-md md:mx-4">
    <h2 class="text-2xl md:text-4xl lg:text-5xl font-semibold text-center">Enter RSVP Invite Code</h2>
    {% csrf_token %}
    <div class="flex flex-col font-semibold w-full">
        <label for="firstname" class="font-sans">First name:</label>
        <input id="firstname" name="firstname" class="border border-cyan-700" />
    </div>
    <div class="flex flex-col font-semibold w-full">
        <label for="code" class="font-sans">Invite code:</label>
        <input id="code"
               type="text"
               name="code"
               maxlength="10"
               class="border border-cyan-700 tracking-widest" />
    </div>
    <button type="submit">Continue</button>
    {% if error %}<p class="text-red">{{ error }}</p>{% endif %}
</form>
