{% extends "base.html" %}
{% load static %}
{% load button_tag %}
{% block content %}
    <main id="home"
          class="relative flex items-center justify-center min-h-screen">
        <div class="absolute inset-0 overflow-hidden">
            <div class="absolute inset-0 scale-110 bg-center bg-cover blur-sm"
                 style="background-image: url('{% static "background-image.jpg" %}')"></div>
        </div>
        <div class="absolute inset-0 pt-16 bg-black/20" />
        <div class="container z-10 px-4 mx-auto md:px-6">
            <div class="max-w-3xl mx-auto space-y-10 text-center animate-fade-in">
                {% include "components/home/heading.html" with bride=bride groom=groom date=date %}
                {% include "components/home/timer.html" with date=date %}
                {% url 'rsvp' as rsvp_url %}
                {% button text="RSVP Now" href=rsvp_url %}
            </div>
        </div>
    </main>
{% endblock content %}
