{% extends "base.html" %}
{% load static %}
{% block content %}
    <main id="home"
          class="relative min-h-screen flex items-center justify-center">
        <div class="absolute inset-0 bg-[url('{% static "background-image.jpg" %}')] bg-cover bg-center" />
        <div class="absolute inset-0 bg-black/20 pt-16" />
        <div class="container mx-auto px-4 md:px-6 z-10">
            <div class="max-w-3xl mx-auto text-center animate-fade-in space-y-10">
                {% include "components/home/heading.html" with bride=bride groom=groom date=date %}
                {% include "components/home/timer.html" with date=date %}
                {% include "components/common/button.html" with text="RSVP Now" href="/rsvp" %}
            </div>
        </div>
    </main>
{% endblock content %}
