{% extends "base.html" %}
{% load static %}
{% block title %}
    RSVP
{% endblock title %}
{% block content %}
    <main id="rsvp"
          class="flex items-center justify-center font-serif w-full ">
        {% if name %}
            <p>hello {{ name }}</p>
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="action" value="signout">
                <button type="submit">Signout</button>
            </form>
        {% else %}
        <div class="md:m-6 md:w-auto w-full">
            {% include "components/rsvp/signin_form.html" %}
            
        </div>
        {% endif %}
    </main>
{% endblock content %}
