{% extends "base.html" %}
{% load static %}
{% block title %}
    RSVP
{% endblock title %}
{% block content %}
    <main id="rsvp"
          class="relative min-h-screen flex items-center justify-center">
        {% if name %}
            <p>hello {{ name }}</p>
        {% else %}
            <h2>Enter RSVP Invite Code</h2>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="code" placeholder="Enter code">
                <button type="submit">Continue</button>
                {% if error %}<p class="text-red">{{ error }}</p>{% endif %}
            </form>
        {% endif %}
    </main>
{% endblock content %}
