@tailwind base;
@tailwind components;
@tailwind utilities;

#plus-one-container {
    display: none;
}
label#plus-one-toggle:checked ~ #plus-one-container {
    display: block;
}
[x-cloak] {
    display: none !important;
}
